#map-container {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

#map-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(200, 200, 200);
    z-index: 0;
    user-select: none;
}

#map-canvas {
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.049);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    user-select: none;
    z-index: 5;
}

#map-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    pointer-events: auto;
    z-index: 10;
}

#map-units {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    pointer-events: auto;
    z-index: 20;
}

#console-bg {
    position: relative;
    height: 234px;
    background-color: black;
    padding: 16px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#main-frame {
    position: absolute;
    width: calc(100% - 32px);
    background-color: rgba(72, 72, 72, 0.8);
    display: flex;
    flex-direction: column;
    padding: 8px;
}

#console-header {
    font-family: sans-serif;
    font-size: 12pt;
    color: white;
    right: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: row;
}

#status-line {
    font-family: monospace;
    font-size: 8pt;
    color: rgb(255, 243, 140);
    background: hwb(0 0% 100%);
    width: 650px;
    height: 24px;
    border: none;
    resize: none;
    top: 8px;
    user-select: none;
    pointer-events: none;
}

#log-level-picker {
    position: relative;
    width: 100px;
    background-color: rgb(20, 20, 20);
    color: white;
}

#log-level-label {
    color: rgb(131, 131, 131);
}

#console {
    font-family: monospace;
    font-size: 10pt;
    line-height: 14pt;
    color: rgb(201, 200, 200);
    background: hwb(0 0% 100% / 0.332);
    width: 100%;
    height: 224px;
    border: none;
    resize: none;
}

#console-input {
    font-family: monospace;
    font-size: 10pt;
    color: rgb(255, 243, 140);
    background: hwb(0 6% 94%);
    width: 100%;
    line-height: 24px;
    height: 40px;
    border: none;
    resize: none;
    top: 8px;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }
}

#loading {
    position: absolute;
    width: 50%;
    height: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(10, 38, 55, 0.425);
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    color: rgb(217, 217, 150);
    font-size: 24px;
    font-family: sans-serif;
}

#loading b {
    animation: pulse 1.5s ease-in-out infinite;
}

/*
Popup styles
*/
.popup {
    position: absolute;
    width: 450px;
    height: 64px;
    background-color: rgba(205, 214, 216, 0.9);
    z-index: 300;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.popup p {
    font-family: sans-serif;
    font-size: 12pt;
    color: rgb(0, 0, 0);
    text-align: center;
    align-content: top center;
    border: 2 em
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

/*
Generic unit styles
*/
:root {
    --unit-width: 40px;
    --unit-height: 40px;
    --unit-half-width: calc(var(--unit-width) / 2);
    --unit-half-height: calc(var(--unit-height) / 2);
}

/* all units share this style */
.unit g {
    cursor: pointer;
}

/* all unit rects share this style */
.unit rect {
    stroke-width: 2px;
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.66));
    rx: 6px;
    ry: 6px;
    border-width: 2px;
    z-index: 10;
    x: calc(-1 * var(--unit-half-width));
    y: calc(-1 * var(--unit-half-height));
    width: var(--unit-width);
    height: var(--unit-height);
}
