.soldier text {
    fill: rgba(34, 13, 13, 0.75);
    font-size: 8pt;
    text-anchor: middle;
    font-family: sans-serif;
    pointer-events: none;
    user-select: none;
}

.soldier rect {
    fill: rgb(118, 161, 82);
    stroke: rgba(0, 0, 0, 0.25);
    stroke-width: 1px;
}

.soldier:hover rect {
    fill: rgb(173, 166, 81);
    stroke: rgba(0, 0, 0, 0.5);
    stroke-width: 1px;
    cursor: pointer;
}

.soldier.active rect {
    fill: rgb(235, 224, 110);
}

.soldier.unit-center {
    fill: rgba(56, 189, 160, 0.75);
    pointer-events: none;
    user-select: none;
}

#map-container {
    position: relative;
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
}

#map-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(200, 200, 200);
    z-index: 0;
    user-select: none;
}

#map-canvas {
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.049);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    user-select: none;
    z-index: 5;
}

#map-svg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    pointer-events: auto;
    z-index: 10;
}

#map-units {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    pointer-events: auto;
    z-index: 20;
}


#console-bg {
    position: relative;
    height: 234px;
    background-color: black;
    padding: 16px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}



#main-frame {
    position: absolute;
    width: calc(100% - 32px);
    background-color: rgba(72, 72, 72, 0.8);
    display: flex;
    flex-direction: column;
    padding: 8px;
}

#console-header {
    font-family: sans-serif;
    font-size: 12pt;
    color: white;
    right: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-direction: row;
}

#status-line {
    font-family: monospace;
    font-size: 8pt;
    color: rgb(255, 243, 140);
    background: hwb(0 0% 100%);
    width: 650px;
    height: 24px;
    border: none;
    resize: none;
    top: 8px;
    user-select: none;
    pointer-events: none;
}   


#log-level-picker {
    position: relative;
    width: 100px;
    background-color: rgb(20, 20, 20);
    color: white;
}

#log-level-label {
    color: rgb(131, 131, 131);
}

#console {
    font-family: monospace;
    font-size: 10pt;
    line-height: 14pt;
    color: rgb(201, 200, 200);
    background: hwb(0 0% 100% / 0.332);
    width: 100%;
    height: 224px;
    border: none;
    resize: none;
}

#console-input {
    font-family: monospace;
    font-size: 10pt;
    color: rgb(255, 243, 140);
    background: hwb(0 6% 94%);
    width: 100%;
    line-height: 24px;
    height: 40px;
    border: none;
    resize: none;
    top: 8px;
}


@keyframes pulse {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

#loading {
    position: absolute;
    width: 50%;
    height: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(10, 38, 55, 0.425);
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;
    color: rgb(217, 217, 150);
    font-size: 24px;
    font-family: sans-serif;
}

#loading b {
    animation: pulse 1.5s ease-in-out infinite;
}

